.container {
    text-align: center;
    margin: 1rem 0;
    display: flex;
    justify-content: center;
}
.title {
    display: flex;
    align-items: center;
    text-align: center;
    margin-right: 1rem;
}
.iv {
    margin: 0 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.input {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 1rem;
    margin: auto;
    border: 1px solid white;
    border-radius: 10px;
    text-align: start;
    padding-left: 1rem;
    background: linear-gradient(to bottom, transparent, rgba(255,255,255,0.2));
}
.input:hover {
    background: linear-gradient(to bottom, rgba(255,255,255,0.5), rgba(255,255,255,0.2));
    box-shadow: 0 0 10px white;
}
.input label {
    text-align: center;
}