.container {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    height: 2rem;
}

.button {
    display: flex;
    gap: 5px;
    padding: 1rem;
    align-items: center;
    background: linear-gradient(to bottom, transparent, rgba(255,255,255,0.2));
    border: 1px solid white;
    border-radius: 10px;
}

.button:hover {
    background: linear-gradient(to bottom, rgba(255,255,255,0.5), rgba(255,255,255,0.2));
    transform: translateY(-1px);
    box-shadow: 0 0 10px white;
}

.button span {
    font-size: 0.8rem;
    color: white;
}

.selected {
    background-color: #04b0ee!important;
}
.mobileOnly {
    display: none;
}
@media (max-width: 768px) {
    .desktopOnly {
        display: none;
    }
    .mobileOnly {
        display: block;
    }
}