.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #b00f0f;
    padding: 0 3rem;
    width: 100%;
    box-sizing: border-box;
}
.list {
    display: flex;
    gap: 3rem;
    list-style: none;
}