.container {
    position: relative;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    margin: 0;
}

.input {
    width: 50%;
    height: 2rem;
    box-sizing: border-box;
    background-color: #111111;
    border: 2px solid white;
    border-radius: 5px;
    text-align: center;
    font-size: 1rem;
    color: #fff;
}

.input::placeholder {
    color: 353839;
}

.input:focus {
    box-shadow: 0 0 10px white;
}

.results {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1px;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 2px 10px;
    width: 50%;
    color: white;
    z-index: 1;
}

.result {
    background-color: dimgray;
    border: 1px solid transparent;
    border-radius: 5px;
    text-align: center;
    color: white;
    padding: 3px;
    font-size: 1rem;
    text-decoration: none;
}

.name {
    font-size: 1rem;
}
.form {
    font-size: 0.8rem;
}