.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.floor {
    text-align: center;
    margin-right: 1rem;
}
.input {
    width: 80%;
    margin: 0 auto;
}
.select {
    width: 200px;
    height: 2rem;
    text-align: start;
    padding-left: 1rem;
    background: linear-gradient(to bottom, transparent, rgba(255,255,255,0.2));
}
.select option {
    color: black;
    font-weight: bold;
    background: linear-gradient(to bottom, transparent, rgba(255,255,255,0.2));
}