.table {
    margin-top: 3rem;
    width: 100%;
    position: relative;
}
.table::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: linear-gradient(to right, transparent, #04b0ee, transparent);
}
.thead {
    height: 2rem;
    background-color: #070753;
    border-collapse: collapse;
}