.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.mention {
    font-size: 0.7rem;
}
.mention p {
    line-height: 0.7rem;
    margin: 0;
}